<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Systematic</title>
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <meta name="theme-color" content="#222">
   <meta name="author" content="fazle-rabbi">
   <meta name="keywords" content="">
   <meta name="description" content="">  
   <!--Bootstrap5 CSS Link-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" type="text/css" media="all" />
   <!--Custom CSS-->
   <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>
   
   
   <main class="p-3 ">
      <h2>🎉 File Deleted Successsful.</h2>
      <a class="btn btn-success my-2" href="/adminfr43">Go Back</a>
   </main>
   
   <!--Bootstrap5 Js Link-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>